/* You can add global styles to this file, and also import other style files */
body {
    background-color: #FCFBFB;
    color: #333333;
    font-size: 14px;
    font-family: "Josefin Sans", sans-serif;
}
.search-div {
    height: 50px;
    width: 40%;
}
.input-group-text {
    vertical-align: middle;
    background-color: #ffffff;
    border: 0;
    padding-left: 0;
    padding-right: 0;
}

.input-group-text img {
    margin-right: 10px;
}

.pagination {
    color: #828282;
}
.pagination span {
    color: #F56B2A;
    display: inline-block;
    background: #ffffff;
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid #FEE9DF;
}
.form-control:focus {
    border-color: #F56B2A;
    border: none;
    /*box-shadow: 0 0 0 0.2rem rgba(245, 107, 42, 0.25);*/
    box-shadow: none;
    outline: 0 none;
} 
.image-div .profile-pic {
    width: 50px;
    height: 50px;
   margin-left: 40px;
}

.title {
    color: #333333;
    font-size: 36px;
}
.loans-title {
    font-size: 24px;
}

/* search 1 */
.fa-search {
    margin-right: 5px;
    /*position: absolute;
width: 24px;
height: 24px;
left: 281px;
top: 235px;*/
}
thead tr {
    background-color: #FEE9DF;
}
thead tr th{
    font-weight: 600;
    font-size: 14px;
    height: 57px;
    vertical-align: middle;
    background-color: #FEE9DF !important;
}
.btn-primary {
     background: #F56B2A !important;
     border: 0;
}
tr .btn-primary {
    font-size: 12px;
}
tr th, tr td {
    height: 100px;
    font-size: 12px;
    font-weight: 400;
    vertical-align: middle; 
}


 tr:nth-child(odd) th, tr:nth-child(odd) td {
    background-color: #FCFBFB;
    border: none;
    }

   tr:nth-child(even) th, tr:nth-child(even) td{
    background-color: #ffffff;
    border: none;
    }

    th, td {
        border: none;
        background-color: #ffffff;
    }

    @media only screen and (max-width: 768px) {
        .search-div {
            height: 50px;
            width: 100%;
        }
        .profile-div {
            justify-content: flex-start !important;
        }
      }